div {
    background-color: orange;
}
header, main, footer {
    display: grid;
    width: 100%;
    margin-bottom: 7px;
}
Header {grid-template-rows: 100px;
    align-items: center;
    justify-content: center;
    background-color:orange;
}
main {
    display: grid;
    grid-template: 600px / 100px 600px 1fr;
    grid-gap: 7px;
}
footer {grid-template-rows: 100px;
    align-items: center;
    justify-content: center;
    background-color:orange;
}
p {align-items: center;
    justify-items: center;
}