.nav{
    background-color: #a3cfed;
    text-align: right;
    color:#474646;
    list-style-type: none;
    padding: 20px;
    text-decoration: none;
    
}
.nav>li {
    display: inline;
    text-decoration: none;
    padding-right: 20px;
    padding-left:20px;
    margin-right:10px;
    border: 5px solid whitesmoke;
    border-radius: 20px;
    background-color: whitesmoke;
    font-size: larger;
}


}