nav {
    background-color: #a3cfed;
    color:#474646;
    padding-top: 15px;
    padding-bottom: 15px;
    width:100%;
    line-height: 35px;
    height: 60px;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    padding-right: 0;
}
nav ul li {
    display:block;
    list-style-type: none;
    position:relative;
}
nav ul li a {
    text-decoration: none;
    padding-right: 20px;
    padding-left:30px;
    margin-right:10px;
    font:bold;
    background-color: #a3cfed;
    border: 5px solid #a3cfed;
    font-size: larger;
    font-family: mali, serif;
}
label {
    margin: 0 10px 0 0;
    font-size: 26px;
    line-height: 35px;
    display: none;
    width: 30px;
    float: right;
}
#toggle {
    display: none;
}
nav a:hover {
    /*background-color: lightgray;
    border: 5px solid lightgray;*/
    color: gray;
}
nav ul>li ul {
    position:absolute;
    margin-top:0px;
    margin-left:0px;
    display: none;
    width: 80px;
}
#dropmenu li {
    border: 5px solid #a3cfed;
    width: 150px;
    background-color: #a3cfed;
}
nav>ul>li:hover>ul {
    display: block;
}
@media screen and (max-width: 846px) {
    label {
        display: block;
        cursor: pointer;
        }
    #hamnav {height: 40px;
        
    }
    #mobilenav {
        width: 100%;
        margin-top: 30px;
        display:none;       
    }
    #mobilenav li {
        margin-left: -40px;
        width:95%;
    }
       
    nav ul li a {
        display: block;
        width: 100%;
        padding-left: 0;
        padding-top: 20px;
        padding-right: 30px;
        background-color: #a3cfed;
        font: bold;
        font-size: medium;
        text-align: center;
    }
    /*nav ul ul {
        z-index: 1;  
    }*/
    nav ul li ul li {
        margin-top:0;
        margin-bottom:0;
        text-align: center;
        display:none;
    }
    #hamnav input:checked ~ #mobilenav {display: block;}

} 
