
#h1 {color: #7445D8;
text-align: center;}

.h2 {color: #474646;
}

#h3 {color: #474646;
}
p {
    font-size: larger;
}
#mainAbout {
    display: grid;
    grid-template-rows: 70px 230px 70px 70px 300px;
    grid-template-columns: 200px 100px 1fr;
    grid-gap: 10px;
    margin-left: 10px;
    width: 100%;
}
#d1 {grid-row: 1 / 2; grid-column: 1 / 4;}
#d2 {grid-row: 2 / 3; grid-column: 1 / 2;}
#d3 {grid-row: 2 / 3; grid-column: 2 / 4;}
#d4 {grid-row: 3 / 4; grid-column: 1 / 4;}
#d5 {grid-row: 4 / 5; grid-column: 1 / 4;}
#d6 {grid-row: 5 / 6; grid-column: 1 / 4;}

footer {
    text-align: center;
}
@media screen and (max-width:830px) {
    header h1 {font-size: medium;}
    nav ul li {font-size: small;}
    main h2 {font-size: medium;}
    main div {font-size: medium;} 
    footer {font-size: small;}
    nav {height: 20px;}
}
@media screen and (max-width:654px) {
    header h1 {font-size: medium;}
    nav ul li {font-size: x-small;}
    main h2 {font-size: medium;}
    main div {font-size: small;} 
    footer {font-size: x-small;}
}
@media screen and (max-width:515px) {
    #mainAbout {
        display: grid;
        grid-template-rows: 35px 230px 200px 20px 35px 100px;
        grid-template-columns: 1fr;
        grid-gap: 10px;
        margin-left: 10px;
        width: 100%;
    }
    #d1 {grid-row: 1 / 2; grid-column: 1;}
    #d2 {grid-row: 2 / 3; grid-column: 1;}
    #d3 {grid-row: 3 / 4; grid-column: 1;}
    #d4 {grid-row: 4 / 5; grid-column: 1;}
    #d5 {grid-row: 5 / 6; grid-column: 1;}
    #d6 {grid-row: 6 / 7; grid-column: 1;}
}