@font-face {
    font-family: Bobby Jones;
    src: url(BobbyJonesSoft.otf);
}
@font-face {
    font-family: Mali;
    src: url(Mali.ttf);
}
@font-face {
    font-family: Halimun;
    src: url(Halimun.ttf);
}
#h1 {color: #6868ac;
    font-family: Bobby Jones, serif;
    font-size: 65px;
    text-align: center;
}

.h2 {color: #474646;
    font-family: Mali, serif;
    font-size: 27px;
}
.h2name {color: #474646;
    font-family: Mali, serif;
    font-size: 27px;
    margin-top: 0;;
}

#h3 {color: #474646;
}
#h1name {font-family: Mali, serif;
    display:none;
}
p {
    font-size: larger;
}
blockquote {
    font-family: halimun, serif;
    font-size: 20px;
}
.pr {font-size: large;}

.ulEdu li {
    list-style-type:square;
    text-align: left;
    padding-top: 5px;
    /*margin-left:-40px;*/
    
}
#reflection1 {
    padding-left: 36px;
    text-indent: -36px;}
#reflection2 {padding-left: 36px;
    text-indent: -36px;}


#mainAbout {
    display: grid;
    grid-template-rows: 70px 300px 70px 180px 300px;
    grid-template-columns: 200px 100px 1fr;
    grid-gap: 10px;
    width: 100%;
}
#d1 {grid-row: 1 / 2; grid-column: 1 / 4;}
#d2 {grid-row: 2 / 3; grid-column: 1 / 2;}
#d3 {grid-row: 2 / 3; grid-column: 2 / 4;}
#d4 {grid-row: 3 / 4; grid-column: 1 / 4;}
#d5 {grid-row: 4 / 5; grid-column: 1 / 4;}
#d6 {grid-row: 5 / 6; grid-column: 1 / 4;}
#d4 {display: none;}

#mainReflection {
    display:grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 25px;
}
*#reflection1 {grid-row: 1; grid-column: 1 / 2;}
#reflection2 {grid-row: 1; grid-column: 2 / 3;}

#mainLearn {
    display:grid;
    grid-template-rows: 10% 1fr 150px; 
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
    
}
#di1 {grid-row: 2 / 3; grid-column: 1 / 2;}
#di2 {grid-row: 2 / 3; grid-column: 2 / 3;}
#di3 {grid-row: 2 / 3; grid-column: 3 / 4;}
#di4 {grid-row: 2 / 3; grid-column: 4 / 5;}

footer {
    padding-top: 5px;
    min-height: 80px;
    text-align: center;
    background-image: url(image/footerimage.png);
    background-size: cover;
}
.imgfooter {margin-bottom: -10px;}
@media screen and (max-width:846px) {
    header h1 {font-size: large;}
    main h2 {font-size: medium;}
    main div {font-size: medium;} 
    footer {font-size: small;}
    #img1 {width: 654px;}
    #img1 {height: 300px;}
    p {font-size: medium;
    }
    #mainReflection {
        display:grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr; 
        grid-gap: 25px;
        
    }
    #reflection1 {grid-row: 1 / 2; grid-column: 1;}
    #reflection2 {grid-row: 2 / 3; grid-column: 1;}

    #mainLearn {
        display:grid;
        grid-template-rows: 10% 1fr 1fr 150px; 
        grid-template-columns: 10% 1fr 1fr 10%;
        grid-gap: 15px;
    }
    #di1 {grid-row: 2 / 3; grid-column: 2 / 3;} 
    #di2 {grid-row: 2 / 3; grid-column: 3 / 4;}
    #di3 {grid-row: 3 / 4; grid-column: 2 / 3;}
    #di4 {grid-row: 3 / 4; grid-column: 3 / 4;}     
    #mainAbout {
        display: grid;
        grid-template-rows: 70px 400px 70px 180px 300px;
        grid-template-columns: 200px 100px 1fr;
        grid-gap: 10px;
        width: 100%;
    } 
}
    
@media screen and (max-width:654px) {
    header h1 {font-size: large;}
    nav ul li {font-size: x-small;}
    main h2 {font-size: medium;}
    main div {font-size: small;} 
    footer {font-size: x-small;}
    #img1 {width: 500px;}
    #img1 {height: 240px;}
    p {font-size: medium;}
}
@media screen and (max-width:515px) {
    .h2 {font-size: 18px;}
    #img1 {width: 400px;}
    #img1 {height: 200px;}
    #mainAbout {
        display: grid;
        grid-template-rows: 60px 240px 320px 20px 100px 100px;
        grid-template-columns: 1fr;
        grid-gap: 10px;
        margin-left: 10px;
        width: 100%;
    }
    #d1 {grid-row: 1 / 2; grid-column: 1;}
    #d2 {grid-row: 2 / 3; grid-column: 1;}
    #d3 {grid-row: 3 / 4; grid-column: 1;}
    #d4 {grid-row: 4 / 5; grid-column: 1;}
    #d5 {grid-row: 5 / 6; grid-column: 1;}
    #d6 {grid-row: 6 / 7; grid-column: 1;}
    blockquote {font-size: 15px;}
    .h2name {margin-top: 10px;}

    .imgL {width: 100px;
    height: 150px;}
    #mainLearn {
        display:grid;
        grid-template-rows: 2% 1fr 1fr 1fr 1fr 20px; 
        grid-template-columns: 10% 1fr 10%;
        grid-gap: 15px;
    }
    #di1 {grid-row: 2 / 3; grid-column: 2 / 3;} 
    #di2 {grid-row: 3 / 4; grid-column: 2 / 3;}
    #di3 {grid-row: 4 / 5; grid-column: 2 / 3;}
    #di4 {grid-row: 5 / 6; grid-column: 2 / 3;}    
}
@media print {
    body {color: black;
        font-family: Georgia, serif;
        font-size: 10pt;
    }
@page {size: auto;
    margin: 1in;
}
nav {display: none;}
#mainAbout {margin-top: 20px;
    grid-template-rows: 70px 300px 70px 100px 100px;
    grid-template-columns: 200px 100px 1fr;
    grid-gap: 10px;
    width: 100%;
    }
.h2name {display: none;
    margin-top: 0;
}
#h1name {
    color: black;
    font-family: Mali, serif;
    display:contents;
    text-align: center;
}
#h1 {display: none;
    margin-top:-10px;
}
blockquote {font-size: 10pt;}
}